.bbody {
    background-color: #8b4513;
}
.t-c {
    font-family: 'Audiowide';
} 
.text-white {
    color: white;
  }
footer{
  padding: 20px 0; 
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
#facebook path {
  fill: #ffffff;  
}
#instagram path {
  fill: #ffffff;
  }
#twitter path {
  fill: #ffffff; 
  }
#whatsapp path {
  fill: #ffffff;
}  
.n-t{
 font-family: 'Cinzel Decorative';
}  
.dropdown-menu.tr-bg{
background-color: transparent;
}
.dropdown-menu.tr-bg a.dropdown-item:hover {
    color: black;
    background-color: gray;
}
@media (max-width: 768px) {
  .dropdown-menu.tr-bg {
      background-color: rgba(0, 0, 0, 0.8); 
      left: auto;
      right: 0;
  }

  .dropdown-menu.tr-bg a.dropdown-item {
      color: white; 
  }
}
.img-h{
    width: 100px;
    height: 100px;
    
}  
.centered-image {
    display: block;
    margin: 0 auto;
  }
  p{
    font-family: 'Raleway';
    font-size: 20px;
    }
    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: transparent;
      border: transparent;
      border-width: 1px 0;
    }
    .b-divider {
      width: 100%;
      height: 1rem;
      background-color: transparent;
      border: transparent;
      border-width: 1px 0;
    }
    
.t-t{
  font-family: 'BebasNeue';
}
.f{
  font-family: 'Raleway';
}           
#b{
    float: right;
}
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.map-container iframe {
  max-width: 100%;
  max-height: 100%;
}
.t{
  font-family: 'Bangers';
}
